@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo scrollbar Twitch */
.twitch-scrollbar .simplebar-scrollbar::before {
  background-color: #bbe2f81c;
  width: 7px !important;
  border-radius: 3px;
  opacity: 1 !important;
}

.twitch-scrollbar .simplebar-scrollbar:hover::before {
  background-color: #a1c0fa3f;
}

.twitch-scrollbar .simplebar-track.simplebar-vertical {
  width: 7px;
  background: transparent;
  right: 0;
}

.twitch-scrollbar .simplebar-track.simplebar-vertical .simplebar-scrollbar {
  right: 0;
  width: 7px;
}

.text-simplebar .simplebar-scrollbar::before {
  background-color: #043b5841;
  width: 7px !important;
  border-radius: 3px;
  opacity: 1 !important;
}

.text-simplebar .simplebar-scrollbar:hover::before {
  background-color: #062e7a3f;
}

.text-simplebar .simplebar-track.simplebar-vertical {
  width: 7px;
  background: transparent;
  right: 0;
}

.text-simplebar .simplebar-track.simplebar-vertical .simplebar-scrollbar {
  right: 0;
  width: 7px;
}
.loader {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: -40px;
  animation: animloader 4s ease infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: rgb(11, 11, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow:
      0 40px rgba(255, 255, 255, 0),
      40px 40px rgba(255, 255, 255, 0),
      40px 80px rgba(255, 255, 255, 0),
      0px 80px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow:
      0 40px blue,
      40px 40px rgba(255, 255, 255, 0),
      40px 80px rgba(255, 255, 255, 0),
      0px 80px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow:
      0 40px blue,
      40px 40px blue,
      40px 80px rgba(255, 255, 255, 0),
      0px 80px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow:
      0 40px blue,
      40px 40px blue,
      40px 80px blue,
      0px 80px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow:
      0 40px blue,
      40px 40px blue,
      40px 80px blue,
      0px 80px blue;
  }
  62% {
    box-shadow:
      0 40px rgba(255, 255, 255, 0),
      40px 40px blue,
      40px 80px blue,
      0px 80px blue;
  }
  75% {
    box-shadow:
      0 40px rgba(255, 255, 255, 0),
      40px 40px rgba(255, 255, 255, 0),
      40px 80px blue,
      0px 80px blue;
  }
  87% {
    box-shadow:
      0 40px rgba(255, 255, 255, 0),
      40px 40px rgba(255, 255, 255, 0),
      40px 80px rgba(255, 255, 255, 0),
      0px 80px blue;
  }
  100% {
    box-shadow:
      0 40px rgba(255, 255, 255, 0),
      40px 40px rgba(255, 255, 255, 0),
      40px 80px rgba(255, 255, 255, 0),
      0px 80px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
